$color-black: #000000;

$color-dark-1: #C8C8C8;
$color-dark-2: #AEAEAE;
$color-dark-3: #838383;
$color-dark-4: #636363;
$color-dark-5: #363636;
$color-dark-6: #292929;

$color-red-1: #FA3150;

$color-pink-1: #FAEFEF;

$color-yellow: #F9C936;

$color-green: #92B8B9;