.newsletter {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $color-dark-1;
    background-size: cover;

    @include lg {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    >.container {

        .subscribe-newsletter {
            display: flex;
            justify-content: center;
            position: relative;
            flex-direction: column;
            background-color: white;
            padding: 20px;

            @include lg {
                padding: 105px 0px;
                flex-direction: row;
            }
        }

        .newsletter-email {
            border: 1px solid $color-dark-3;
            border-radius: 20px;
            padding: 10px;
            margin-bottom: 5px;

            @include lg {
                width: 80%;
            }
        }

        .newsletter-button {
            border: none;
            background-color: $color-red-1;
            padding: 10px;
            font-size: 16px;
            font-family: $font-poppins;
            color: white;
            border-radius: 20px;
            transition: ease-in-out 0.2s;

            &:hover {
                background-color: #991d2f;
            }

            @include lg {

                position: absolute;
                right: 70px;
                top: 105px;
                padding: 11px 30px;
            }

            @include xl {
                position: absolute;
                right: 100px;
                top: 105px;
                padding: 11px 30px;
            }
        }
        
    }
}